@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@700&display=swap');

/* ---------------- */
/* ----- MAIN ----- */
/* ---------------- */

.grid-container {
    display: grid;
    grid-template-columns: 15vw repeat(5, 1fr) 15vw;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        '. headertop headertop headertop headertop headertop .'
        '. dørContainer dørContainer dørContainer dørContainer dørContainer .'
        '. helper helper helper helper helper .';
    grid-gap: 10px;
    padding: 0.5vh;
    height: 100vh;
}

@media screen and (max-width: 1600) {

}
@media screen and (min-width: 2200px) {
    .grid-container {
        max-width: 2200px;
        min-width: 2200px;
        margin: 0 auto;
    }
}
@media screen and (min-width: 3600px) {
    .grid-container {
        max-width: 2200px;
        min-width: 2700px;
        margin: 0 auto;
    }
}
@media screen and (min-width: 5300px) {
    .grid-container {
        max-width: 2200px;
        min-width: 3200px;
        margin: 0 auto;
    }
}
    


* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body {
    background-color: #131c23;
    color: #ffffffdd;
    font-family: sans-serif;
}
/* ------------------ */
/* ----- HEADER ----- */
/* ------------------ */

.headertop {
    grid-area: headertop;
    text-align: left;
    padding: 3vh;
    margin: 0 0 0 0;
    font-family: 'Golos Text', sans-serif;
    font-size: 2.5em;
    color: #ffffff69;
}


/* ------------------- */
/* ----- Content ----- */
/* ------------------- */

.dørContainer {
    grid-area: dørContainer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

.dør {
    position: relative;
    cursor: pointer;
    border: 10px ridge #484642;
    z-index: 2;
}
.bakDør {
    background-image: linear-gradient(#24221E, #484642);
    top: 0;
    left: 0;
    z-index: 1;
}

.dørFront {
    background-color: #24221E;
    box-shadow: 30px 25px 50px rgba(0,0,0,0.4);
    transform-origin: left; /* velger hvor transformasjonen skal starte, vil f. eks. roteres fra venstre */
    width: 30vh;
    height: 48.54vh; /* gylne snitt, why not */

}
.dørFront:before {
    content:"";
    position: absolute;
    background-color: #24221E;
    width: 60%;
    height: 25%;
    border: 10px ridge #484642;
    left:20%;
    top: 8%;
  }
  .dørFront:after {
    content:"";
    position: absolute;
    background-color: #24221E;
    width: 60%;
    height: 25%;
    border: 10px ridge #484642;
    left:20%;
    bottom: 10%;
  }
 
  #dør1 {
    transform-origin: left;
  }
  
  #dør2 {
    transform-origin: left;
  }
  
  #dør3 {
    transform-origin: left;
  }

.åpen {
    animation: åpneDør 1s forwards;
}
.lukket {
    animation: lukkDør 1s forwards;
}

@keyframes åpneDør {
    0% {
        transform: perspective(1500px) rotateY(0);
    }
    100% {
        transform: perspective(1500px) rotateY(-120deg);
    }
}

@keyframes lukkDør {
    0% {
        transform: perspective(1500px) rotateY(-120deg);
    }
    100% {
        transform: perspective(1500px) rotateY(0);
    }
}

.dørhåndtak {
    position: absolute;
    width: 40px;
    height:60px;
    background-color: #3c3d3a;
    top:20vh;
    left:23vh;
    border-radius:2px;
}
.dørhåndtak:before {
    content:"";
    position: absolute;
    border-radius:50%;
    background-color: #525753;
    width:4vh;
    height:4vh;
    left:-0.3vh;
    top: -0.1vh;
    box-shadow: 0.3vh 0.3vh rgba(0,0,0,0.2);
  }
  .dørhåndtak:after {
    content:"";
    position: absolute;
    width:1vh;
    height:1.61vh;
    background-color: #151515;
    top:4.5vh;
    left:1.5vh;
  }


/* ----------------- */
/* ----- Helper ----- */
/* ----------------- */

.helper {
    grid-area: helper;
    font-size: 1.2em;
}

#typewriter {
    display: inline-block;
    position: relative;
    top: -3vh;
}

#cursor { /* er i js koden */
    color: #0072ef;
    font-size: 1.2em;
    animation: blink 1s linear infinite; /* linear = jevnt, blink = navn */
    position: relative;
    top: -3vh;
}
@keyframes blink { /* definerer animasjonen */
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

#buttonContainer {
    position: absolute;
    bottom: 6vh;
    left: 85%;
}
#knapp2 {
    background-color: teal;
    border: none;
    border-radius: 0.5em;
    color: white;
    padding: 0.6em 1.25em;
    font-size: 1em;
    cursor: pointer;
    display: none;
}

#helperHeader {
    transition: all 0.5s;
}

.remove {
    transition: all 0.5s;
    opacity: 0;
}
.add {
    transition: all 0.5s;
    opacity: 1;
}