#hoved {
    margin: auto;
    width: 98vw;
    height: 98vw;
    display: grid;
    gap: 1%;
    background-color: #ffffff;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
  
  #hoved > div {
    border-radius: 10%;
  }

  #hoved > div:nth-child(2n+1) {
    background-color: #EEEED5;
  }

  #hoved > div:nth-child(even) {
    background-color: #7D945D;
  }

  .bilde {
    background-image: url(img/pexels-pok-rie-2049422.jpg);
}