#hoved {
    height: 300px;
    display: grid;
    gap: 5px;
    background-color: #c6c6c6;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-items: start;
    align-items: end;
  }
  #hoved > div {
    width: 50px;
    height: 50px;
    background-color: #aac9c6;
    border: 1px solid black;
  }