* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

#container {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    
}
      
      


#container > img {
    width: 100%;
    border-radius: 10px;
}