table {
    width: 100%;
    background-color: #ffffff00;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #7ea8f8;
    border-style: solid;
    color: #000000;
  }
  
  table td, table th {
    border-width: 2px;
    border-color: #7ea8f8;
    border-style: solid;
    padding: 5px;
  }
  
  table thead {
    background-color: #7ea8f8;
  }